<div style="width: 80%; margin: 0 auto;">
  <h1>Login</h1>
  <%= form_for :user, url: '/login' do |f| %>
    Username: <%= f.text_field :name %>
    Password: <%= f.password_field :password %>
    <%= f.submit "Submit" %>
  <% end %>
  <%= link_to 'Create Account', new_path %>
</div>
