<h1>User Signup Form</h1>
<%= form_for :user, url: '/signup' do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br><br>
  <%= f.label :password %>
  <%= f.password_field :password %><br><br>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation  %><br><br>
  <%= f.submit "Signup" %>
<% end %>

